@media screen and (max-width: 992px) {
  body {
    font-size: 11px;
  }
  .nav-logo-image {
    width: 350px;
  }
  .hero-content {
    padding: 170px 10px;
  }

  .hero-content h1 {
    width: 100%;
  }
  .content-wrapper {
    padding-top: 25px;
  }
  .content-issue-container {
    margin: 50px 0px;
  }
  .intro-text {
    font-size: 1.3em;
    padding-top: 100px;
    & p {
      padding: 15px 0px;
      line-height: 1.4em;
      margin: 0px auto;
      width: 80%;
    }
  }
  .issue-content h3 {
    padding: 20px 0;
  }
  .issue-content-container {
    width: 80%;
    margin: 20px 0 20px 10%;
  }
}

@media screen and (max-width: 900px) {
  .page-nav-list>a {
    width: 14%;
  }
}

@media screen and (max-width: 800px) {
  .page-nav-list>a {
    width: 14%;
  }
  li {
    font-size: .95em;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }
  .nav-logo-image {
    width: 300px;
  }
  .hero-content {
    padding: 100px;
  }
  #scroll-nav {
    display: none;
  }
  .content-wrapper {
    padding-top: 0px;
  }
  .content-issue-container {
    margin: 0px 0px 75px 0px;
    border-top: 1px solid #000;
    padding-top: 20px;
  }
  .content-issue-container h2 {
    text-decoration: none;
  }
  .intro-text {
    font-size: 1.25em;
    padding-top: 30px;
    padding-bottom: 30px;
    & p {
      padding: 10px 0px;
      line-height: 1.3em;
      margin: 0px auto;
      width: 90%;
    }
  }
  .issue-content h3 {
    padding: 15px 0;
  }
  .issue-content-container {
    width: 90%;
    margin: 15px 0 15px 5%;
  }
  footer {
    padding: 30px 0px;
  }
  .footer-col-right,
  .footer-col-left {
    width: 100%;
    padding: 10px 0px;
  }
  .shift {
    margin-top: 400px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 9px;
  }
  .hero-content h1 {
    font-size: 2.75em;
  }
  .content-issue-container h2 {
    text-decoration: none;
  }
  .content-issue-container {
    margin: 0px 0 75px;
    border-top: 1px solid #000;
    padding-top: 20px;
  }
  .nav-logo-image {
    width: 250px;
  }
  .hero-content {
    padding: 75px 10px;
  }
  .issue-content h3 {
    padding: 12px 0;
  }
  .issue-content-container {
    width: 90;
    margin: 15px 0 15px 5%;
  }
}

@media screen and (max-width: 420px) {
  // .content-issue-container {
  //   border-top: 1px solid #000;
  //   padding-top: 20px;
  // }
  // .content-issue-container h2 {
  //   text-decoration: none;
  // }
}
