body {
  font-family: 'Oswald', sans-serif !important;
  font-size: 12px;
}

h1 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 2.6em;
}

h2 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 2.15em;
}

h3 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 1.9em;
}

h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.6em;
}

h5 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.4em;
}

h6 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 1.3em;
}

p {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.25em;
}

li {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1em;
}
