body {
  font-family: 'Oswald', sans-serif !important;
  font-size: 13px;
}

h1 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 2.75em;
}

h2 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 2.45em;
}

h3 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 2.15em;
}

h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.90em;
}

h5 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.75em;
}

h6 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 1.5em;
}

p {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.15em;
}

li {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1em;
}
