body {
  font-family: 'Oswald', sans-serif !important;
  font-size: 13px;
}

h1 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 2.7em;
}

h2 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
  font-size: 2.25em;
}

h3 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 2em;
}

h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.7em;
}

h5 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.5em;
}

h6 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 300;
  font-size: 1.35em;
}

p {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1.3em;
}

li {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 400;
  font-size: 1em;
}
